@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
    {
    @Html.AntiForgeryToken()

         @*Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@

        <li>
            <a href="@Url.Action("Index", "Manage")" id="accountManageHyperLink" data-toggle="tooltip" data-placement="right" title="Account">
                <i class="fa fa-user"></i>
            </a>
        </li>

        <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="right" title="Signout"><i class="fa fa-sign-out"></i></a>
    }
}
else
{
    <li>
        <a href="@Url.Action("Register", "Account", "Account")" id="registerHyperLink" data-toggle="tooltip" data-placement="right" title="Register">
            <i class="fa fa-user-plus"></i>
        </a>
    </li>
    <a href="@Url.Action("Login", "Account", "Account")" id="loginHyperLink" data-toggle="tooltip" data-placement="right" title="Login">
        <i class="fa fa-user"></i>
    </a>
}
