<div class="modal-body modal-input-style">
    <div class="form">
        <label class="label-white h2">Search Employees</label>
        <div class="form-group">
            <label for="txtFirstName" class="label-white">First Name</label>
            <input type="text" class="form-control radius-0" id="txtFirstName">
        </div>

        <div class="form-group">
            <label for="txtLastName" class="label-white">Last Name</label>
            <input type="text" class="form-control radius-0" id="txtLastName">
        </div>

        <div class="form-group">
            <label for="ddlGender" class="label-white">Gender</label>
            <select id="ddlGender" class="form-control radius-0">
                <option value="">Any</option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>
        <div class="space-20"></div>
        <div class="form-group">
            <button type="button" class="btn btn-default radius-0" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" id="btnSearchDB" class="btn btn-primary radius-0">
                Search
            </button>
        </div>
    </div>
    
    
    <!--<div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec consequat nisl a nibh tincidunt condimentum.
        Nullam in augue vitae augue dictum eleifend.
        Nunc porta fermentum metus, quis efficitur lectus scelerisque ac.
        Quisque egestas sit amet nunc in interdum.
        Etiam malesuada maximus nisi, id tempus metus.
        Vivamus at sapien ut metus aliquet sodales sed id magna.
        Integer in auctor ex. Phasellus tempor, est vel placerat dapibus,
        nulla dui tempor ligula, at pulvinar libero nunc gravida metus.
        Proin non feugiat felis. Proin ut ultrices ex. Morbi aliquet lacinia elit at bibendum.
        Nunc facilisis, neque a finibus dignissim, turpis felis vulputate diam,
        a tristique tellus nibh nec nulla. Suspendisse eget augue non turpis
        dignissim euismod eget eget odio. Donec sit amet nibh cursus, efficitur
        nibh in, sodales arcu. Pellentesque pulvinar consequat lacus ac porttitor.
    </div>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" id="approve-btn"
                        class="btn btn-danger">
                    Save
                </button>
            </div>
        </div>-->
  
</div>
<script type="text/javascript">
    $(function () {
        $('#btnSearchDB').click(function () {
            $('#modal-container').modal('hide');
            GetEmployees(0, "", document.getElementById("txtFirstName").value, document.getElementById("txtLastName").value, $("#ddlGender").val(), "");
        });

        var wage = document.getElementById("btnSearchDB");
        wage.addEventListener("keydown", function (e) {
            alert("hello");
            if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                alert("hello");
                $('#modal-container').modal('hide');
                GetEmployees(0, "", document.getElementById("txtFirstName").value, document.getElementById("txtLastName").value, $("#ddlGender").val(), "");
            }
        });
        /* check enter key pressed
        $(document).keypress(function (e) {
            if (e.which == 13) {
                if ($('#modal-container').hasClass('in'))
                {
                    alert('enter key is pressed');
                }
               
            }
        });*/
    });
</script>
