@{
    ViewBag.Title = "JsonView";
}
@Html.ActionLink("Lyubomir ", "ViewLyubomir", "Tables", null, new { @class = "modal-link btn btn-success" })

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>
<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .modal-container {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>

<div id="divTable">
    <table class="table table-bordered table-striped table-responsive table-hover" id="tblEmployee">
        <thead>
            <tr>
                <th>Employee Id </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Hire Date</th>
            </tr>
        </thead>
    </table>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/fh-3.1.3/kt-2.3.2/r-2.2.0/sc-1.4.3/sl-1.2.3/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/fh-3.1.3/kt-2.3.2/r-2.2.0/sc-1.4.3/sl-1.2.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>


<script type="text/javascript" src="~/Scripts/modalshow.js"></script>

<script type="text/javascript">
    var table;
    $(document).ready(function () {
        $('#tblEmployee').dataTable().fnDestroy();
        table = $("#tblEmployee").dataTable({
            "iDisplayLength": 50, //set to 50 results per page by default
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]], //results per page values
            "columns": [
                { "data": "EmpNo" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Gender" },
                { "data": "BirthDate" },
                { "data": "HireDate" }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'print', 'colvis', {
                    text: 'My button',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                }
            ], paging: true

            //scrollY: '80vh',

        });

        $('.dataTables_filter').addClass('pull-left');

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Tables/EmployeeData/?id=22&gender=M",
            success: function (data) {
                table.fnClearTable();
                table.fnAddData(data); //add new data
            }
        });

    });

    function GetEmployees() {
        $('#tblEmployee').dataTable().fnDestroy();
        table = $("#tblEmployee").dataTable({
            "iDisplayLength": 50, //set to 50 results per page by default
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]], //results per page values
            "columns": [
                { "data": "EmpNo" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Gender" },
                { "data": "BirthDate" },
                { "data": "HireDate" }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'print', 'colvis', {
                    text: 'My button',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                }
            ], paging: true
        }
        )
    };
</script>